/*
 * Blog style.
 * https://waylau.com
 */

/* Page */
mt-3 {
    margin-top: 1rem !important;
}

/* Footer */
.blog-footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}