<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer" data-th-fragment="footer">
    <div class="container">
        <p>Welcome to <a href="https://waylau.com">waylau.com</a></p>
    </div>

   	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
 </footer>

</body>
</html>